.createTraining {
    height: 100vh;

    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    & form {
        width: 100%;

        margin: auto;
        border: var(--border);
        border-radius: 5px;
        padding: 1.5rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.3rem;

        & p{
            inline-size: 100%;
        }

        & label {
            width: 100%;

            font-size: 1.5rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 1rem;

            text-transform: capitalize;

        }

        & input,
        select {
            width: 100%;
            line-height: 1.5rem;

            justify-self: center;
            padding: .8rem;
            text-transform: capitalize;

        }

        & option {
            text-transform: capitalize;
        }
    }
}

@media (min-width:426px) {
    .createTraining {
        & form{
            max-width: 426px;
        }
    }
}
