:root {
    --background: #09090A;
    --background-session: #323238;
    --foreground: #ffffff;
    --primary-color: #8234E9;
    --green-color: #32EA66;
    --red-color: #F20000;
    --text: #FFFFFF;
    --text-gray: #C4C4CC;
    --border: 1px solid #c4c4cc
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --foreground: #09090A;
    }
}

body {
    color: var(--text);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }
}
