:root {
    --background: #09090A;
    --background-session: #323238;
    --foreground: #ffffff;
    --primary-color: #8234E9;
    --primary-color-hover: #4b198d;
    --green-color: #32EA66;
    --red-color: #F20000;
    --text: #FFFFFF;
    --text-gray: #C4C4CC;
    --border: 1px solid #c4c4cc
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --foreground: #09090A;
    }
}

html {
    font-size: 14px;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease normal ;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }
}

a {
    text-decoration: none;
}

select {
    cursor: pointer;
}

.submitButton {
    align-self: center;

    inline-size: 100%;

    padding: .75rem;

    border: none;
    border-radius: 1rem;

    background-color: var(--primary-color);

    color: var(--text);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;

    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--primary-color-hover);
}

.container {
    max-width: 100%;
    margin: auto;
}

@media (min-width: 426px) {
    .container {
        max-width: 426px;
    }
}

@media (min-width: 769px) {
    html {
        font-size: 16px;
    }

    .container {
        max-width: 769px;
    }

    .submitButton {
        align-self: flex-end;
        inline-size: auto;
    }
}
