.training {
    padding: 1rem;

    & main {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        & .warning {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: .5rem;

            & h1 {
                display: flex;
                align-items: center;

                gap:1rem;
            }
        }

        & .content {

            display: flex;
            flex-flow: column;
            justify-content: space-between;
            gap: 1rem;
        }

        & .btns {
            align-self: flex-end;
            display: flex;
            flex-flow: row nowrap;
            gap: .5rem;
        }
    }
}
